/* Fichier style.css */

body {
    background-color: cadetblue;
}
header, footer {
    background-color: grey;
    text-align: center;
    border: solid 5px;
    border-radius: 10px;
    margin: 5px;
}

main {
    border: solid 5px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    width: 50px;
    border-radius: 5px;
    margin: 5px;
}